/QE170229_NguyenVanLong/Static variables and methods/nbproject/private/
/QE170229_NguyenVanLong/Static variables and methods/build/
/QE170229_NguyenVanLong/Encapsulation/nbproject/private/
/QE170229_NguyenVanLong/Encapsulation/build/
/JavaApplication10/nbproject/private/
/JavaApplication10/build/
/JavaApplication10/dist/
